// .productive {
  
// }

.productive__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  margin-left: 200px;
}

.productive ul li:nth-child(1n) {
  padding-bottom: 97px;
}

.productive__item {
  list-style-type: none;
  align-items: center;
  width: 349px;
}

.productive__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 10px;
  margin: 0;
}

.productive__span {
  width: 350px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.productive__img {
  margin-left: 125px;
}